@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  .logo {
    font-size: 40px;
    font-family: Pacifico, sans-serif;
  }
  .navbar {
    padding: 0 10px;
    justify-self: end;
    align-self: center;
  }
}